<%= link_to barbecue_path(barbecue), class: "card-trip" do %>
<div class="card-trip">
  <%= image_tag('barbecue2') %>
<div class="card-trip-infos">
      <h2><%= barbecue.name %> </h2>
      <p> <%= barbecue.price  %> € </p>
  </div>
</div>
<% end %>
