<footer>
<div class="new">
  <ul>
    <li><a href="https://twitter.com">Twitter</a></li>
    <li><a href="https://facebook.com">Facebook</a></li>
    <li><a href="https://github.com/julesforrest">Github</a></li>
    <li>
      <p>👋</p>
    </li>
  </ul>
</div>
</footer>
