<div class="container" style="height: calc(100vh - 80px - 64px)">
  <h1>Félicitations !</h1>
  <p>Votre reservation a bien été effectuée du </p>
  <p> <%= @rental.start_date%> au <%= @rental.end_date%></p>
</div>

