<div class="container" style="height: calc(100vh - 80px - 64px)">
  <h1>Félicitations !</h1>
  <p>Votre reservation a bien été effectuée du <%= parse_date_fr(@rental.start_date)%> au <%= parse_date_fr(@rental.end_date)%></p>
  <%= link_to "Voir mes annonces", profiles_dashboard_path, class: "addreview" %>
</div>



