<div class="post-announce">
  <div class="registration-container">
    <h1>Je modifie mon annonce</h1>
    <%= render 'form', Barbecue: @barbecue  %>
  </div>
  <div class="gif-sub">
    <img alt="attente" src="https://tenor.com/view/grill-master-dancing-grilling-summer-bbq-gif-11706990.gif" />
  </div>
</div>
