<h1>Our Barbecues</h1>
<p>Find me in app/views/barbecues/index.html.erb</p>

<% @barbecues.each do |barbecue| %>
    <h2> <%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
      <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash" id="trash"></i>
      <% end %>
       <% end %>
