<div class="display-background">
  <div class="container">
    <h1 class ="display-title">
      <% if params[:query].present?  %>
        Barbecues disponibles sur <%= params[:query].downcase.capitalize %>
      <% end %>
    </h1>
    <div class="row">
      <% @barbecues.each do |barbecue| %>
        <div class="col-sm-12 col-md-4">
          <%= render "shared/card", barbecue: barbecue %>
        </div>
      <% end %>
    </div>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="pk.eyJ1Ijoid2VybmRldiIsImEiOiJjazJnODkyNGowbjdnM2hwNXhpMzI1MmZ2In0.LPiWh1iQx0lgYsuk-B8QTg">
  </div>
</div>

