<h1>Barbecues#show</h1>
<p>Find me in app/views/barbecues/show.html.erb</p>
<%= cl_image_tag @barbecue.photo, height: 300, width: 400, crop: :fill %>
<div class="container">
  <%= render 'shared/card-barbecue-description' %>
</div>
