.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1105325/bbq-meet-eating-diner-1105325.jpeg?cs=srgb&dl=aliments-barbecue-bbq-beau-1105325.jpg&fm=jpg);
  background-size: cover;
  background-position: center;
  padding: 350px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 62px;
  font-weight: bold;
}

.banner p {
  font-size: 40px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-container {
  margin: 20px 400px 20px 200px;
}

.home-container .text-color-red {
  color: red;
  font-weight: bold;
}

