.container-card-bbq-show{
  margin: 64px 360px 64px 360px;
  border: 1px solid black;
}

.card-bbq-show-name{
  text-align: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  border-bottom: 1px solid black;
  font-size: 36px;
  font-weight: bold;
}

.card-bbq-show-details{
  display: flex;
  font-family: 'Roboto', sans-serif;
}

#bbq-price{
  list-style: none;
  font-size: 24px;
  text-align: center;
}

.card-bbq-show-photo{
  margin: 8px;
}

.card-bbq-show-information{
  width: 100%;
}

.card-bbq-show-text{
  display: flex;
  padding: 16px 16px 0px 16px;
  text-align: justify;
}

.bbq-basics{
  list-style: none;
}

.bbq-description{
}

.bbq-booking{
}

.bbq-text{
  margin: 8px 2px 8px 2px;
  border-bottom: 1px solid black;
}

.submit-bbq{
  margin-bottom: 8px;
}
