.container-bbq-show{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.container-card-bbq-show{
  margin: 64px 360px 64px 360px;
}

.card-bbq-show-name{
  text-align: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  border-bottom: 1px solid black;
  font-size: 36px;
  font-weight: bold;
}

.card-bbq-show-details{
  display: flex;
  font-family: 'Roboto', sans-serif;
}

#bbq-price{
  font-size: 24px;
  padding-top: 24px;
  }

.card-bbq-show-photo{
  height: 320px;
  width: 380px;
  margin: 8px;
}

.card-bbq-show-information{
  width: 100%;
}

.card-bbq-show-text{
  padding: 16px 16px 0px 16px;
  text-align: justify;
  list-style: none;
  width: 320px;
  height: 350px;
  overflow: auto;
  margin: 8px;
}

.bbq-text{
  margin: 8px 2px 8px 2px;
  border-bottom: 1px solid black;
}

.submit-bbq{
  margin-bottom: 8px;
}

.datepicker{
  border: 1px solid;
  border-radius: 28px;
}

#rental_start_date{
  background-color: white;
}

#rental_end_date{
  background-color: white;
}

.form-group.string.optional.rental_start_date{
  margin-bottom: 0;
}

.form-group.string.optional.rental_end_date{
  margin-bottom: 0;
}

#new-rental{
  display: block;
}

#new-rental-dates{
  display: flex;
}

.simple_form.new_rental{
  width: 72%;
}

#new-rental-details{
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0px;
}

.container-card-bbq-details{
  border: 1px solid black;
}

.booking-details{
}

.bbq-reviews{
  height: 200px;
}
