body {
  background-color: grey;
}

.registration-container{
  width: 1000px;
  border: 1px solid;
  border-color: black;
  border-radius: 28px;
  padding: 40px;
  font-weight: lighter;
  background: transparent;
  width: 500px;
}

.registration-container h1 {
  font-family: 'Roboto', sans-serif;
}

.post-announce {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 350px;
}

.post-announce img{
  height: 100%;
  border-radius: 28px;
}

.tva {
text-align: center;
}


.location {
 text-align: center;
 margin-top: 30px;
}
