.registration-container{
  margin: 40px 400px 40px 400px;
  border: 1px solid;
  border-color: lightgrey;
  border-radius: 28px;
  padding: 40px;
  font-weight: lighter;
  box-shadow: 1px 1px 10px;
  background: transparent;
}
