body {
  background-color: white;
}

.registration-container{
  margin: 40px 800px 40px 80px;
  border: 1px solid;
  border-color: black;
  border-radius: 28px;
  padding: 40px;
  font-weight: lighter;
  background: transparent;
}

.registration-container h1 {
  font-family: 'Roboto', sans-serif;
}
