.display-title {
  color: black;
  padding: 40px 20px 20px 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.display-background {
  background-color: f7f4ef;
  background-size: cover;
  display: flex;
}

a:hover {
  text-decoration: none;
  opacity: 0.6;
}

#map{
  width: 48%;
  height: calc(100vh - 80px);
  position: sticky;
  top: 80px;
}

