label {
  font-family: 'Roboto', sans-serif;
  }

#barbecue_price{
  border: 1px solid;
  border-color: black;
  border-radius: 28px;
}

#text {
  font-family: 'Roboto', sans-serif;
}

#barbecue_name{
  border: 1px solid;
  border-color: black;
  border-radius: 24px;
}

#barbecue_location{
  border: 1px solid;
  border-color: black;
  border-radius: 24px;
}

#barbecue_photo{
  border: none;
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
}

#barbecue_category{
  border: 1px solid;
  border-color: black;
  border-radius: 28px;
}

#barbecue_description{
  border: 1px solid;
  border-color: black;
  border-radius: 24px;
}

#review_content {
  height: calc(1.5em + 0.75rem + 60px);
}
