.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: sticky;
  top: 1;
  height: calc(100vh - 80px);
}

#info-window {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 16px;
}
