.navbar-lewagon {
  justify-content: space-between;
  background: rgba(230,230,230,0.95);
  height: 80px;
  border-bottom: 1px solid rgba(100,100,100,0.95);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin-left: 56px;
}


.nav-item .btn {
  background-color: red;
  color: white !important;
  font-weight: bold;
  border-radius: 10px;
}

