.navbar-lewagon {
  justify-content: space-between;
  background: black;
  height: 80px;
  border-bottom: 2px solid rgba(250,250,250,0.95);
  transition: border-bottom 2s;
}

.navbar-lewagon:hover {
  border-bottom: 2px solid red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin-left: 56px;
}


.nav-item .btn {
  background-color: red;
  color: white !important;
  font-weight: bold;
  border-radius: 10px;
}

