.card-rental{
  margin: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 1000px;
  height: 611px;

  .card-name-barbecue {
    text-align: center;
    background: rgba(230,230,230,0.4);
    border-bottom: 1px solid rgba(230,230,230,0.8);
    vertical-align: center;
    height: 45px;
  }

  .card-rental-description {
    display: flex;

    .card-rental-photo{
      width: 450px;
      height: 500px;
      margin: 8px;
      // background-image: url("https://via.placeholder.com/450x500");
      // background-size: cover;
    }

    .card-information {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 450px;
      margin: 8px;

      .card-rental-info .information-listings {
        padding-left: 0px;
        .information-list {
          list-style: none;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }

      .card-rental-rented {
        display:flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 150px;
        height: 250px;
      }
    }
  }

  .card-rental-owner-information {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(230,230,230,0.4);
    border-top: 1px solid rgba(230,230,230,0.8);
    height: 30px;
    width:100%;
;    p {
     text-align: right;
     margin: 0 15px;
   }
 }
}











































