<%= simple_form_for [@barbecue, @review] do |f| %>
  <div>
 <%= f.input :content, label: 'Commentaire' %>
 <%= f.input :rating, collection: ["1", "2", "3", "4", "5"], label:'Note' %>
  </div>

  <%= f.submit 'Je valide', class: "btn"%>
<% end %>
