<div class="post-announce">
  <div class="registration-container">
    <h1>Nouvel avis</h1>
    <%= render 'form', Review: @review %>
     </div>
  <div class="gif-sub">
  <img alt="attente" src="https://media1.tenor.com/images/99cb5e50f6f45e351bbbe8ecc188f5b8/tenor.gif?itemid=14796831.gif" />
  </div>
</div>
